<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelesf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script type="text/javascript"
            src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="/static/js/main.js"></script>

</head>
<body>
<h3>Book</h3>

<!--list-->
<ul class="list-group" th:unless="${#lists.isEmpty(books)}">
    <li class="list-group-item" th:each="book : ${books}">
        <button type="button" class="btn btn-default" onclick="javascript:deleteBook()">Delete</button>
        <span th:text="${book.id}"></span>
        <span th:text="${book.name}"></span>
    </li>
</ul>


<!--add-->
<h2>Add book</h2>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1" aria-required="true">Book name</span>
    <input id="book-name-add" type="text" class="form-control" aria-describedby="basic-addon1"/>
    <span class="input-group-addon" id="basic-addon2" aria-required="true">Book size</span>
    <input id="book-size-add" type="text" class="form-control" aria-describedby="basic-addon2"/>
</div>
<button type="button" class="btn btn-default" onclick="javascript:createBook()">Add new</button>

</body>
</html>