<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelesf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script type="text/javascript"
            src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<h3>Book</h3>

<!--<ul th:unless="${#lists.isEmpty(books)}">-->
    <!--<li th:each="book:$(books)">-->
        <!--<span th:text="${book.name}"/>-->
    <!--</li>-->
<!--</ul>-->

<ul class="list-group" th:unless="${#lists.isEmpty(books)}">
    <li class="list-group-item" th:each="book : ${books}">
        <!--<span class="badge" th:text="${book.size}">1</span>-->
        <span th:text="${book.name}"></span>
    </li>
</ul>
</body>
</html>