<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelesf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Book</h3>
<!--
    ${} - assigns the result of the operation
    *{} - example:
            <ul th:object="${person}">
                <li>Name: <span th:text="*{name}"></span></li>
                <li>Address: <span th:text="*{address}"></span></li>
            </ul>
    #{} - message from localization file
    @{} - link. Example:
            <a th:href="@{/home}">Home</a> ~ <a href="/ourapp/home">Home</a>
-->


<ul th:unless="${#lists.isEmpty(books)}">
    <li th:each="book:$(books)">
        <span th:text="${book.name}"/>
    </li>
</ul>
</body>
</html>